apiVersion: apps/v1
kind: Deployment
metadata:
  name: {APP_NAME}
spec:
  template:
    spec:
      containers:
      - name: {APP_NAME}
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"
