apiVersion: v1
kind: Service
metadata:
  name: example-app
  labels:
    app: example-app
spec:
  type: ClusterIP
  selector:
    app: example-app
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: http
