apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: example-app

labels:
- includeSelectors: true
  pairs:
    environment: prod

namePrefix: prod-

replicas:
- count: 3
  name: example-app

patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: 256Mi
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: 500m
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: 512Mi
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: 1000m
  target:
    group: apps
    kind: Deployment
    name: example-app
    version: v1

configMapGenerator:
- behavior: merge
  literals:
  - flask_env=production
  - log_level=WARNING
  name: example-config

images:
- name: ashik9001/demo-app
  newName: docker.io/ashik9001/example-app
  newTag: main
