apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: example-app

labels:
- pairs:
    environment: prod
  includeSelectors: true

namePrefix: prod-

replicas:
- name: example-app
  count: 3

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: example-app
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/memory
      value: 256Mi
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: 500m
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: 512Mi
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: 1000m

configMapGenerator:
- name: example-config
  behavior: merge
  literals:
  - flask_env=production
  - log_level=WARNING

images:
- name: ashik9001/demo-app
  newTag: v1.0.0
