apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../../base

namespace: {NAMESPACE}

commonLabels:
  environment: dev

namePrefix: dev-

replicas:
- name: {APP_NAME}
  count: 1

patchesStrategicMerge:
- deployment-patch.yaml

configMapGenerator:
- name: {APP_NAME}-config
  behavior: merge
  literals:
  - flask_env=development
  - log_level=DEBUG

images:
- name: {REGISTRY_IMAGE}
  newTag: dev-latest
